/*! Copyright (C) Microsoft Corporation. All rights reserved. */
/*!
------------------------------------------- START OF THIRD PARTY NOTICE -----------------------------------------

This file is based on or incorporates material from the projects listed below (Third Party IP). The original copyright notice and the license under which Microsoft received such Third Party IP, are set forth below. Such licenses and notices are provided for informational purposes only. Microsoft licenses the Third Party IP to you under the licensing terms for the Microsoft product. Microsoft reserves all other rights not expressly granted under this agreement, whether by implication, estoppel or otherwise.

//-----------------------------------------------------------------------------
twbs-bootstrap-sass (3.3.0)
//-----------------------------------------------------------------------------

The MIT License (MIT)

Copyright (c) 2013 Twitter, Inc

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.

//-----------------------------------------------------------------------------
necolas-normalize.css (3.0.2)
//-----------------------------------------------------------------------------
! normalize.css v3.0.2 | MIT License | git.io/normalize

Copyright (c) Nicolas Gallagher and Jonathan Neal

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

Provided for Informational Purposes Only
MIT License
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the Software), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}input,button,select,textarea{font-family:inherit;font-size:inherit;line-height:inherit}a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}figure{margin:0}img{vertical-align:middle}.img-responsive{display:block;max-width:100%;height:auto}.img-circle{border-radius:50%}.sr-only{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0,0,0,0);border:0}.sr-only-focusable:active,.sr-only-focusable:focus{position:static;width:auto;height:auto;margin:0;overflow:visible;clip:auto}html{font-size:100%}body{font-family:"Segoe UI Webfont",-apple-system,"Helvetica Neue","Lucida Grande","Roboto","Ebrima","Nirmala UI","Gadugi","Segoe Xbox Symbol","Segoe UI Symbol","Meiryo UI","Khmer UI","Tunga","Lao UI","Raavi","Iskoola Pota","Latha","Leelawadee","Microsoft YaHei UI","Microsoft JhengHei UI","Malgun Gothic","Estrangelo Edessa","Microsoft Himalaya","Microsoft New Tai Lue","Microsoft PhagsPa","Microsoft Tai Le","Microsoft Yi Baiti","Mongolian Baiti","MV Boli","Myanmar Text","Cambria Math";font-size:15px;line-height:20px;font-weight:400;font-size:.9375rem;line-height:1.25rem;padding-bottom:.227px;padding-top:.227px;padding-bottom:.227px;padding-top:.227px;color:#000;background-color:#fff}a{color:#ccc;text-decoration:none}a:link{color:#0067b8}a:visited{color:#0067b8}a:hover{color:#666}a:focus{color:#0067b8}a:active{color:#999}.text-center{text-align:center}.text-justify{text-align:justify}.text-nowrap{white-space:nowrap}.text-lowercase{text-transform:lowercase}.text-uppercase{text-transform:uppercase}.text-capitalize{text-transform:capitalize}ul,ol{margin-top:0;margin-bottom:10px}ul ul,ul ol,ol ul,ol ol{margin-bottom:0}abbr[title],abbr[data-original-title]{cursor:help}blockquote p:last-child,blockquote ul:last-child,blockquote ol:last-child{margin-bottom:0}blockquote footer,blockquote small,blockquote .small{display:block}address{font-style:normal}@font-face{font-family:'Segoe UI Webfont';src:local("Segoe UI Light");font-weight:200;font-style:normal}@font-face{font-family:'Segoe UI Webfont';src:local("Segoe UI");font-weight:400;font-style:normal}@font-face{font-family:'Segoe UI Webfont';src:local("Segoe UI Semibold");font-weight:600;font-style:normal}h1,h2,h3,h4,h5,h6,.text-headline,.text-header,.text-subheader,.text-title,.text-subtitle,.text-body,.text-base,.text-caption,.text-caption-alt,.text-subcaption,p{margin-bottom:20px;margin-top:20px;margin-bottom:1.25rem;margin-top:1.25rem}.text-headline{font-size:62px;line-height:80px;font-weight:200;font-size:3.875rem;line-height:5rem;padding-bottom:2.2716px;padding-top:2.2716px;padding-bottom:2.2716px;padding-top:2.2716px}.text-headline.text-maxlines-1{white-space:nowrap;text-overflow:ellipsis;max-height:84.5432px;max-height:5.28395rem}.text-headline.text-maxlines-2{max-height:164.5432px;max-height:10.28395rem}.text-headline.text-maxlines-3{max-height:244.5432px;max-height:15.28395rem}.text-headline.text-maxlines-4{max-height:324.5432px;max-height:20.28395rem}.text-header,h1{font-size:46px;line-height:56px;font-weight:200;font-size:2.875rem;line-height:3.5rem;padding-bottom:3.3628px;padding-top:3.3628px;padding-bottom:3.3628px;padding-top:3.3628px}.text-header.text-maxlines-1,h1.text-maxlines-1{white-space:nowrap;text-overflow:ellipsis;max-height:62.7256px;max-height:3.92035rem}.text-header.text-maxlines-2,h1.text-maxlines-2{max-height:118.7256px;max-height:7.42035rem}.text-header.text-maxlines-3,h1.text-maxlines-3{max-height:174.7256px;max-height:10.92035rem}.text-header.text-maxlines-4,h1.text-maxlines-4{max-height:230.7256px;max-height:14.42035rem}.text-subheader,h2{font-size:34px;line-height:40px;font-weight:200;font-size:2.125rem;line-height:2.5rem;padding-bottom:3.1812px;padding-top:3.1812px;padding-bottom:3.1812px;padding-top:3.1812px}.text-subheader.text-maxlines-1,h2.text-maxlines-1{white-space:nowrap;text-overflow:ellipsis;max-height:46.3624px;max-height:2.89765rem}.text-subheader.text-maxlines-2,h2.text-maxlines-2{max-height:86.3624px;max-height:5.39765rem}.text-subheader.text-maxlines-3,h2.text-maxlines-3{max-height:126.3624px;max-height:7.89765rem}.text-subheader.text-maxlines-4,h2.text-maxlines-4{max-height:166.3624px;max-height:10.39765rem}.text-title,h3{font-size:24px;line-height:28px;font-weight:300;font-size:1.5rem;line-height:1.75rem;padding-bottom:2.3632px;padding-top:2.3632px;padding-bottom:2.3632px;padding-top:2.3632px}.text-title.text-maxlines-1,h3.text-maxlines-1{white-space:nowrap;text-overflow:ellipsis;max-height:32.7264px;max-height:2.0454rem}.text-title.text-maxlines-2,h3.text-maxlines-2{max-height:60.7264px;max-height:3.7954rem}.text-title.text-maxlines-3,h3.text-maxlines-3{max-height:88.7264px;max-height:5.5454rem}.text-title.text-maxlines-4,h3.text-maxlines-4{max-height:116.7264px;max-height:7.2954rem}.text-subtitle,h4{font-size:20px;line-height:24px;font-weight:400;font-size:1.25rem;line-height:1.5rem;padding-bottom:1.636px;padding-top:1.636px;padding-bottom:1.636px;padding-top:1.636px}.text-subtitle.text-maxlines-1,h4.text-maxlines-1{white-space:nowrap;text-overflow:ellipsis;max-height:27.272px;max-height:1.7045rem}.text-subtitle.text-maxlines-2,h4.text-maxlines-2{max-height:51.272px;max-height:3.2045rem}.text-subtitle.text-maxlines-3,h4.text-maxlines-3{max-height:75.272px;max-height:4.7045rem}.text-subtitle.text-maxlines-4,h4.text-maxlines-4{max-height:99.272px;max-height:6.2045rem}.text-caption,h5{font-size:12px;line-height:14px;font-weight:400;font-size:.75rem;line-height:.875rem;padding-bottom:1.1816px;padding-top:1.1816px;padding-bottom:1.1816px;padding-top:1.1816px}.text-caption.text-maxlines-1,h5.text-maxlines-1{white-space:nowrap;text-overflow:ellipsis;max-height:16.3632px;max-height:1.0227rem}.text-caption.text-maxlines-2,h5.text-maxlines-2{max-height:30.3632px;max-height:1.8977rem}.text-caption.text-maxlines-3,h5.text-maxlines-3{max-height:44.3632px;max-height:2.7727rem}.text-caption.text-maxlines-4,h5.text-maxlines-4{max-height:58.3632px;max-height:3.6477rem}.text-caption-alt,h6{font-size:10px;line-height:12px;font-weight:400;font-size:.625rem;line-height:.75rem;padding-bottom:.818px;padding-top:.818px;padding-bottom:.818px;padding-top:.818px}.text-caption-alt.text-maxlines-1,h6.text-maxlines-1{white-space:nowrap;text-overflow:ellipsis;max-height:13.636px;max-height:.85225rem}.text-caption-alt.text-maxlines-2,h6.text-maxlines-2{max-height:25.636px;max-height:1.60225rem}.text-caption-alt.text-maxlines-3,h6.text-maxlines-3{max-height:37.636px;max-height:2.35225rem}.text-caption-alt.text-maxlines-4,h6.text-maxlines-4{max-height:49.636px;max-height:3.10225rem}.text-subcaption{font-size:8px;line-height:10px;font-weight:400;font-size:.5rem;line-height:.625rem;padding-bottom:.4544px;padding-top:.4544px;padding-bottom:.4544px;padding-top:.4544px}.text-subcaption.text-maxlines-1{white-space:nowrap;text-overflow:ellipsis;max-height:10.9088px;max-height:.6818rem}.text-subcaption.text-maxlines-2{max-height:20.9088px;max-height:1.3068rem}.text-subcaption.text-maxlines-3{max-height:30.9088px;max-height:1.9318rem}.text-subcaption.text-maxlines-4{max-height:40.9088px;max-height:2.5568rem}.text-body,p{font-size:15px;line-height:20px;font-weight:400;font-size:.9375rem;line-height:1.25rem;padding-bottom:.227px;padding-top:.227px;padding-bottom:.227px;padding-top:.227px}.text-body.text-maxlines-1,p.text-maxlines-1{white-space:nowrap;text-overflow:ellipsis;max-height:20.454px;max-height:1.27838rem}.text-body.text-maxlines-2,p.text-maxlines-2{max-height:40.454px;max-height:2.52838rem}.text-body.text-maxlines-3,p.text-maxlines-3{max-height:60.454px;max-height:3.77838rem}.text-body.text-maxlines-4,p.text-maxlines-4{max-height:80.454px;max-height:5.02838rem}.text-base{font-size:15px;line-height:20px;font-weight:600;font-size:.9375rem;line-height:1.25rem;padding-bottom:.227px;padding-top:.227px;padding-bottom:.227px;padding-top:.227px}.text-base.text-maxlines-1{white-space:nowrap;text-overflow:ellipsis;max-height:20.454px;max-height:1.27838rem}.text-base.text-maxlines-2{max-height:40.454px;max-height:2.52838rem}.text-base.text-maxlines-3{max-height:60.454px;max-height:3.77838rem}.text-base.text-maxlines-4{max-height:80.454px;max-height:5.02838rem}[class*="text-maxlines"]{overflow:hidden}.text-left{text-align:left}.text-right{text-align:right}.list-unstyled{padding-left:0;list-style:none}ul{padding-left:0;list-style:none}ul,ol{margin-top:20px;margin-bottom:20px}ul li,ol li{margin-top:12px;margin-bottom:12px}.list-inline{padding-left:0;list-style:none;margin-left:-4px}.list-inline>li{display:inline-block;padding-left:4px;padding-right:4px}blockquote{padding:8px 12px;margin:0 0 12px}.blockquote-reverse,blockquote.pull-right{padding-right:12px;padding-left:0;text-align:right}address{margin-bottom:12px}.container,.container-fluid{margin-right:auto;margin-left:auto;padding-left:2px;padding-right:2px;width:90%}.container:before,.container:after,.container-fluid:before,.container-fluid:after{content:" ";display:table}.container:after,.container-fluid:after{clear:both}.container .container,.container-fluid .container{width:auto}.row{margin-left:-2px;margin-right:-2px}.row:before,.row:after{content:" ";display:table}.row:after{clear:both}.col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3,.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4,.col-xs-5,.col-sm-5,.col-md-5,.col-lg-5,.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6,.col-xs-7,.col-sm-7,.col-md-7,.col-lg-7,.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,.col-xs-9,.col-sm-9,.col-md-9,.col-lg-9,.col-xs-10,.col-sm-10,.col-md-10,.col-lg-10,.col-xs-11,.col-sm-11,.col-md-11,.col-lg-11,.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12,.col-xs-13,.col-sm-13,.col-md-13,.col-lg-13,.col-xs-14,.col-sm-14,.col-md-14,.col-lg-14,.col-xs-15,.col-sm-15,.col-md-15,.col-lg-15,.col-xs-16,.col-sm-16,.col-md-16,.col-lg-16,.col-xs-17,.col-sm-17,.col-md-17,.col-lg-17,.col-xs-18,.col-sm-18,.col-md-18,.col-lg-18,.col-xs-19,.col-sm-19,.col-md-19,.col-lg-19,.col-xs-20,.col-sm-20,.col-md-20,.col-lg-20,.col-xs-21,.col-sm-21,.col-md-21,.col-lg-21,.col-xs-22,.col-sm-22,.col-md-22,.col-lg-22,.col-xs-23,.col-sm-23,.col-md-23,.col-lg-23,.col-xs-24,.col-sm-24,.col-md-24,.col-lg-24{position:relative;min-height:1px;padding-left:2px;padding-right:2px}.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-13,.col-xs-14,.col-xs-15,.col-xs-16,.col-xs-17,.col-xs-18,.col-xs-19,.col-xs-20,.col-xs-21,.col-xs-22,.col-xs-23,.col-xs-24{float:left}.col-xs-1{width:4.16667%}.col-xs-2{width:8.33333%}.col-xs-3{width:12.5%}.col-xs-4{width:16.66667%}.col-xs-5{width:20.83333%}.col-xs-6{width:25%}.col-xs-7{width:29.16667%}.col-xs-8{width:33.33333%}.col-xs-9{width:37.5%}.col-xs-10{width:41.66667%}.col-xs-11{width:45.83333%}.col-xs-12{width:50%}.col-xs-13{width:54.16667%}.col-xs-14{width:58.33333%}.col-xs-15{width:62.5%}.col-xs-16{width:66.66667%}.col-xs-17{width:70.83333%}.col-xs-18{width:75%}.col-xs-19{width:79.16667%}.col-xs-20{width:83.33333%}.col-xs-21{width:87.5%}.col-xs-22{width:91.66667%}.col-xs-23{width:95.83333%}.col-xs-24{width:100%}.col-xs-pull-0{right:auto}.col-xs-pull-1{right:4.16667%}.col-xs-pull-2{right:8.33333%}.col-xs-pull-3{right:12.5%}.col-xs-pull-4{right:16.66667%}.col-xs-pull-5{right:20.83333%}.col-xs-pull-6{right:25%}.col-xs-pull-7{right:29.16667%}.col-xs-pull-8{right:33.33333%}.col-xs-pull-9{right:37.5%}.col-xs-pull-10{right:41.66667%}.col-xs-pull-11{right:45.83333%}.col-xs-pull-12{right:50%}.col-xs-pull-13{right:54.16667%}.col-xs-pull-14{right:58.33333%}.col-xs-pull-15{right:62.5%}.col-xs-pull-16{right:66.66667%}.col-xs-pull-17{right:70.83333%}.col-xs-pull-18{right:75%}.col-xs-pull-19{right:79.16667%}.col-xs-pull-20{right:83.33333%}.col-xs-pull-21{right:87.5%}.col-xs-pull-22{right:91.66667%}.col-xs-pull-23{right:95.83333%}.col-xs-pull-24{right:100%}.col-xs-push-0{left:auto}.col-xs-push-1{left:4.16667%}.col-xs-push-2{left:8.33333%}.col-xs-push-3{left:12.5%}.col-xs-push-4{left:16.66667%}.col-xs-push-5{left:20.83333%}.col-xs-push-6{left:25%}.col-xs-push-7{left:29.16667%}.col-xs-push-8{left:33.33333%}.col-xs-push-9{left:37.5%}.col-xs-push-10{left:41.66667%}.col-xs-push-11{left:45.83333%}.col-xs-push-12{left:50%}.col-xs-push-13{left:54.16667%}.col-xs-push-14{left:58.33333%}.col-xs-push-15{left:62.5%}.col-xs-push-16{left:66.66667%}.col-xs-push-17{left:70.83333%}.col-xs-push-18{left:75%}.col-xs-push-19{left:79.16667%}.col-xs-push-20{left:83.33333%}.col-xs-push-21{left:87.5%}.col-xs-push-22{left:91.66667%}.col-xs-push-23{left:95.83333%}.col-xs-push-24{left:100%}.col-xs-offset-0{margin-left:0%}.col-xs-offset-1{margin-left:4.16667%}.col-xs-offset-2{margin-left:8.33333%}.col-xs-offset-3{margin-left:12.5%}.col-xs-offset-4{margin-left:16.66667%}.col-xs-offset-5{margin-left:20.83333%}.col-xs-offset-6{margin-left:25%}.col-xs-offset-7{margin-left:29.16667%}.col-xs-offset-8{margin-left:33.33333%}.col-xs-offset-9{margin-left:37.5%}.col-xs-offset-10{margin-left:41.66667%}.col-xs-offset-11{margin-left:45.83333%}.col-xs-offset-12{margin-left:50%}.col-xs-offset-13{margin-left:54.16667%}.col-xs-offset-14{margin-left:58.33333%}.col-xs-offset-15{margin-left:62.5%}.col-xs-offset-16{margin-left:66.66667%}.col-xs-offset-17{margin-left:70.83333%}.col-xs-offset-18{margin-left:75%}.col-xs-offset-19{margin-left:79.16667%}.col-xs-offset-20{margin-left:83.33333%}.col-xs-offset-21{margin-left:87.5%}.col-xs-offset-22{margin-left:91.66667%}.col-xs-offset-23{margin-left:95.83333%}.col-xs-offset-24{margin-left:100%}@media(min-width:540px){.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-13,.col-sm-14,.col-sm-15,.col-sm-16,.col-sm-17,.col-sm-18,.col-sm-19,.col-sm-20,.col-sm-21,.col-sm-22,.col-sm-23,.col-sm-24{float:left}.col-sm-1{width:4.16667%}.col-sm-2{width:8.33333%}.col-sm-3{width:12.5%}.col-sm-4{width:16.66667%}.col-sm-5{width:20.83333%}.col-sm-6{width:25%}.col-sm-7{width:29.16667%}.col-sm-8{width:33.33333%}.col-sm-9{width:37.5%}.col-sm-10{width:41.66667%}.col-sm-11{width:45.83333%}.col-sm-12{width:50%}.col-sm-13{width:54.16667%}.col-sm-14{width:58.33333%}.col-sm-15{width:62.5%}.col-sm-16{width:66.66667%}.col-sm-17{width:70.83333%}.col-sm-18{width:75%}.col-sm-19{width:79.16667%}.col-sm-20{width:83.33333%}.col-sm-21{width:87.5%}.col-sm-22{width:91.66667%}.col-sm-23{width:95.83333%}.col-sm-24{width:100%}.col-sm-pull-0{right:auto}.col-sm-pull-1{right:4.16667%}.col-sm-pull-2{right:8.33333%}.col-sm-pull-3{right:12.5%}.col-sm-pull-4{right:16.66667%}.col-sm-pull-5{right:20.83333%}.col-sm-pull-6{right:25%}.col-sm-pull-7{right:29.16667%}.col-sm-pull-8{right:33.33333%}.col-sm-pull-9{right:37.5%}.col-sm-pull-10{right:41.66667%}.col-sm-pull-11{right:45.83333%}.col-sm-pull-12{right:50%}.col-sm-pull-13{right:54.16667%}.col-sm-pull-14{right:58.33333%}.col-sm-pull-15{right:62.5%}.col-sm-pull-16{right:66.66667%}.col-sm-pull-17{right:70.83333%}.col-sm-pull-18{right:75%}.col-sm-pull-19{right:79.16667%}.col-sm-pull-20{right:83.33333%}.col-sm-pull-21{right:87.5%}.col-sm-pull-22{right:91.66667%}.col-sm-pull-23{right:95.83333%}.col-sm-pull-24{right:100%}.col-sm-push-0{left:auto}.col-sm-push-1{left:4.16667%}.col-sm-push-2{left:8.33333%}.col-sm-push-3{left:12.5%}.col-sm-push-4{left:16.66667%}.col-sm-push-5{left:20.83333%}.col-sm-push-6{left:25%}.col-sm-push-7{left:29.16667%}.col-sm-push-8{left:33.33333%}.col-sm-push-9{left:37.5%}.col-sm-push-10{left:41.66667%}.col-sm-push-11{left:45.83333%}.col-sm-push-12{left:50%}.col-sm-push-13{left:54.16667%}.col-sm-push-14{left:58.33333%}.col-sm-push-15{left:62.5%}.col-sm-push-16{left:66.66667%}.col-sm-push-17{left:70.83333%}.col-sm-push-18{left:75%}.col-sm-push-19{left:79.16667%}.col-sm-push-20{left:83.33333%}.col-sm-push-21{left:87.5%}.col-sm-push-22{left:91.66667%}.col-sm-push-23{left:95.83333%}.col-sm-push-24{left:100%}.col-sm-offset-0{margin-left:0%}.col-sm-offset-1{margin-left:4.16667%}.col-sm-offset-2{margin-left:8.33333%}.col-sm-offset-3{margin-left:12.5%}.col-sm-offset-4{margin-left:16.66667%}.col-sm-offset-5{margin-left:20.83333%}.col-sm-offset-6{margin-left:25%}.col-sm-offset-7{margin-left:29.16667%}.col-sm-offset-8{margin-left:33.33333%}.col-sm-offset-9{margin-left:37.5%}.col-sm-offset-10{margin-left:41.66667%}.col-sm-offset-11{margin-left:45.83333%}.col-sm-offset-12{margin-left:50%}.col-sm-offset-13{margin-left:54.16667%}.col-sm-offset-14{margin-left:58.33333%}.col-sm-offset-15{margin-left:62.5%}.col-sm-offset-16{margin-left:66.66667%}.col-sm-offset-17{margin-left:70.83333%}.col-sm-offset-18{margin-left:75%}.col-sm-offset-19{margin-left:79.16667%}.col-sm-offset-20{margin-left:83.33333%}.col-sm-offset-21{margin-left:87.5%}.col-sm-offset-22{margin-left:91.66667%}.col-sm-offset-23{margin-left:95.83333%}.col-sm-offset-24{margin-left:100%}}@media(min-width:768px){.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12,.col-md-13,.col-md-14,.col-md-15,.col-md-16,.col-md-17,.col-md-18,.col-md-19,.col-md-20,.col-md-21,.col-md-22,.col-md-23,.col-md-24{float:left}.col-md-1{width:4.16667%}.col-md-2{width:8.33333%}.col-md-3{width:12.5%}.col-md-4{width:16.66667%}.col-md-5{width:20.83333%}.col-md-6{width:25%}.col-md-7{width:29.16667%}.col-md-8{width:33.33333%}.col-md-9{width:37.5%}.col-md-10{width:41.66667%}.col-md-11{width:45.83333%}.col-md-12{width:50%}.col-md-13{width:54.16667%}.col-md-14{width:58.33333%}.col-md-15{width:62.5%}.col-md-16{width:66.66667%}.col-md-17{width:70.83333%}.col-md-18{width:75%}.col-md-19{width:79.16667%}.col-md-20{width:83.33333%}.col-md-21{width:87.5%}.col-md-22{width:91.66667%}.col-md-23{width:95.83333%}.col-md-24{width:100%}.col-md-pull-0{right:auto}.col-md-pull-1{right:4.16667%}.col-md-pull-2{right:8.33333%}.col-md-pull-3{right:12.5%}.col-md-pull-4{right:16.66667%}.col-md-pull-5{right:20.83333%}.col-md-pull-6{right:25%}.col-md-pull-7{right:29.16667%}.col-md-pull-8{right:33.33333%}.col-md-pull-9{right:37.5%}.col-md-pull-10{right:41.66667%}.col-md-pull-11{right:45.83333%}.col-md-pull-12{right:50%}.col-md-pull-13{right:54.16667%}.col-md-pull-14{right:58.33333%}.col-md-pull-15{right:62.5%}.col-md-pull-16{right:66.66667%}.col-md-pull-17{right:70.83333%}.col-md-pull-18{right:75%}.col-md-pull-19{right:79.16667%}.col-md-pull-20{right:83.33333%}.col-md-pull-21{right:87.5%}.col-md-pull-22{right:91.66667%}.col-md-pull-23{right:95.83333%}.col-md-pull-24{right:100%}.col-md-push-0{left:auto}.col-md-push-1{left:4.16667%}.col-md-push-2{left:8.33333%}.col-md-push-3{left:12.5%}.col-md-push-4{left:16.66667%}.col-md-push-5{left:20.83333%}.col-md-push-6{left:25%}.col-md-push-7{left:29.16667%}.col-md-push-8{left:33.33333%}.col-md-push-9{left:37.5%}.col-md-push-10{left:41.66667%}.col-md-push-11{left:45.83333%}.col-md-push-12{left:50%}.col-md-push-13{left:54.16667%}.col-md-push-14{left:58.33333%}.col-md-push-15{left:62.5%}.col-md-push-16{left:66.66667%}.col-md-push-17{left:70.83333%}.col-md-push-18{left:75%}.col-md-push-19{left:79.16667%}.col-md-push-20{left:83.33333%}.col-md-push-21{left:87.5%}.col-md-push-22{left:91.66667%}.col-md-push-23{left:95.83333%}.col-md-push-24{left:100%}.col-md-offset-0{margin-left:0%}.col-md-offset-1{margin-left:4.16667%}.col-md-offset-2{margin-left:8.33333%}.col-md-offset-3{margin-left:12.5%}.col-md-offset-4{margin-left:16.66667%}.col-md-offset-5{margin-left:20.83333%}.col-md-offset-6{margin-left:25%}.col-md-offset-7{margin-left:29.16667%}.col-md-offset-8{margin-left:33.33333%}.col-md-offset-9{margin-left:37.5%}.col-md-offset-10{margin-left:41.66667%}.col-md-offset-11{margin-left:45.83333%}.col-md-offset-12{margin-left:50%}.col-md-offset-13{margin-left:54.16667%}.col-md-offset-14{margin-left:58.33333%}.col-md-offset-15{margin-left:62.5%}.col-md-offset-16{margin-left:66.66667%}.col-md-offset-17{margin-left:70.83333%}.col-md-offset-18{margin-left:75%}.col-md-offset-19{margin-left:79.16667%}.col-md-offset-20{margin-left:83.33333%}.col-md-offset-21{margin-left:87.5%}.col-md-offset-22{margin-left:91.66667%}.col-md-offset-23{margin-left:95.83333%}.col-md-offset-24{margin-left:100%}}@media(min-width:992px){.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-13,.col-lg-14,.col-lg-15,.col-lg-16,.col-lg-17,.col-lg-18,.col-lg-19,.col-lg-20,.col-lg-21,.col-lg-22,.col-lg-23,.col-lg-24{float:left}.col-lg-1{width:4.16667%}.col-lg-2{width:8.33333%}.col-lg-3{width:12.5%}.col-lg-4{width:16.66667%}.col-lg-5{width:20.83333%}.col-lg-6{width:25%}.col-lg-7{width:29.16667%}.col-lg-8{width:33.33333%}.col-lg-9{width:37.5%}.col-lg-10{width:41.66667%}.col-lg-11{width:45.83333%}.col-lg-12{width:50%}.col-lg-13{width:54.16667%}.col-lg-14{width:58.33333%}.col-lg-15{width:62.5%}.col-lg-16{width:66.66667%}.col-lg-17{width:70.83333%}.col-lg-18{width:75%}.col-lg-19{width:79.16667%}.col-lg-20{width:83.33333%}.col-lg-21{width:87.5%}.col-lg-22{width:91.66667%}.col-lg-23{width:95.83333%}.col-lg-24{width:100%}.col-lg-pull-0{right:auto}.col-lg-pull-1{right:4.16667%}.col-lg-pull-2{right:8.33333%}.col-lg-pull-3{right:12.5%}.col-lg-pull-4{right:16.66667%}.col-lg-pull-5{right:20.83333%}.col-lg-pull-6{right:25%}.col-lg-pull-7{right:29.16667%}.col-lg-pull-8{right:33.33333%}.col-lg-pull-9{right:37.5%}.col-lg-pull-10{right:41.66667%}.col-lg-pull-11{right:45.83333%}.col-lg-pull-12{right:50%}.col-lg-pull-13{right:54.16667%}.col-lg-pull-14{right:58.33333%}.col-lg-pull-15{right:62.5%}.col-lg-pull-16{right:66.66667%}.col-lg-pull-17{right:70.83333%}.col-lg-pull-18{right:75%}.col-lg-pull-19{right:79.16667%}.col-lg-pull-20{right:83.33333%}.col-lg-pull-21{right:87.5%}.col-lg-pull-22{right:91.66667%}.col-lg-pull-23{right:95.83333%}.col-lg-pull-24{right:100%}.col-lg-push-0{left:auto}.col-lg-push-1{left:4.16667%}.col-lg-push-2{left:8.33333%}.col-lg-push-3{left:12.5%}.col-lg-push-4{left:16.66667%}.col-lg-push-5{left:20.83333%}.col-lg-push-6{left:25%}.col-lg-push-7{left:29.16667%}.col-lg-push-8{left:33.33333%}.col-lg-push-9{left:37.5%}.col-lg-push-10{left:41.66667%}.col-lg-push-11{left:45.83333%}.col-lg-push-12{left:50%}.col-lg-push-13{left:54.16667%}.col-lg-push-14{left:58.33333%}.col-lg-push-15{left:62.5%}.col-lg-push-16{left:66.66667%}.col-lg-push-17{left:70.83333%}.col-lg-push-18{left:75%}.col-lg-push-19{left:79.16667%}.col-lg-push-20{left:83.33333%}.col-lg-push-21{left:87.5%}.col-lg-push-22{left:91.66667%}.col-lg-push-23{left:95.83333%}.col-lg-push-24{left:100%}.col-lg-offset-0{margin-left:0%}.col-lg-offset-1{margin-left:4.16667%}.col-lg-offset-2{margin-left:8.33333%}.col-lg-offset-3{margin-left:12.5%}.col-lg-offset-4{margin-left:16.66667%}.col-lg-offset-5{margin-left:20.83333%}.col-lg-offset-6{margin-left:25%}.col-lg-offset-7{margin-left:29.16667%}.col-lg-offset-8{margin-left:33.33333%}.col-lg-offset-9{margin-left:37.5%}.col-lg-offset-10{margin-left:41.66667%}.col-lg-offset-11{margin-left:45.83333%}.col-lg-offset-12{margin-left:50%}.col-lg-offset-13{margin-left:54.16667%}.col-lg-offset-14{margin-left:58.33333%}.col-lg-offset-15{margin-left:62.5%}.col-lg-offset-16{margin-left:66.66667%}.col-lg-offset-17{margin-left:70.83333%}.col-lg-offset-18{margin-left:75%}.col-lg-offset-19{margin-left:79.16667%}.col-lg-offset-20{margin-left:83.33333%}.col-lg-offset-21{margin-left:87.5%}.col-lg-offset-22{margin-left:91.66667%}.col-lg-offset-23{margin-left:95.83333%}.col-lg-offset-24{margin-left:100%}}@media(min-width:1400px){.col-xl-1,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-13,.col-xl-14,.col-xl-15,.col-xl-16,.col-xl-17,.col-xl-18,.col-xl-19,.col-xl-20,.col-xl-21,.col-xl-22,.col-xl-23,.col-xl-24{float:left}.col-xl-1{width:4.16667%}.col-xl-2{width:8.33333%}.col-xl-3{width:12.5%}.col-xl-4{width:16.66667%}.col-xl-5{width:20.83333%}.col-xl-6{width:25%}.col-xl-7{width:29.16667%}.col-xl-8{width:33.33333%}.col-xl-9{width:37.5%}.col-xl-10{width:41.66667%}.col-xl-11{width:45.83333%}.col-xl-12{width:50%}.col-xl-13{width:54.16667%}.col-xl-14{width:58.33333%}.col-xl-15{width:62.5%}.col-xl-16{width:66.66667%}.col-xl-17{width:70.83333%}.col-xl-18{width:75%}.col-xl-19{width:79.16667%}.col-xl-20{width:83.33333%}.col-xl-21{width:87.5%}.col-xl-22{width:91.66667%}.col-xl-23{width:95.83333%}.col-xl-24{width:100%}.col-xl-pull-0{right:auto}.col-xl-pull-1{right:4.16667%}.col-xl-pull-2{right:8.33333%}.col-xl-pull-3{right:12.5%}.col-xl-pull-4{right:16.66667%}.col-xl-pull-5{right:20.83333%}.col-xl-pull-6{right:25%}.col-xl-pull-7{right:29.16667%}.col-xl-pull-8{right:33.33333%}.col-xl-pull-9{right:37.5%}.col-xl-pull-10{right:41.66667%}.col-xl-pull-11{right:45.83333%}.col-xl-pull-12{right:50%}.col-xl-pull-13{right:54.16667%}.col-xl-pull-14{right:58.33333%}.col-xl-pull-15{right:62.5%}.col-xl-pull-16{right:66.66667%}.col-xl-pull-17{right:70.83333%}.col-xl-pull-18{right:75%}.col-xl-pull-19{right:79.16667%}.col-xl-pull-20{right:83.33333%}.col-xl-pull-21{right:87.5%}.col-xl-pull-22{right:91.66667%}.col-xl-pull-23{right:95.83333%}.col-xl-pull-24{right:100%}.col-xl-push-0{left:auto}.col-xl-push-1{left:4.16667%}.col-xl-push-2{left:8.33333%}.col-xl-push-3{left:12.5%}.col-xl-push-4{left:16.66667%}.col-xl-push-5{left:20.83333%}.col-xl-push-6{left:25%}.col-xl-push-7{left:29.16667%}.col-xl-push-8{left:33.33333%}.col-xl-push-9{left:37.5%}.col-xl-push-10{left:41.66667%}.col-xl-push-11{left:45.83333%}.col-xl-push-12{left:50%}.col-xl-push-13{left:54.16667%}.col-xl-push-14{left:58.33333%}.col-xl-push-15{left:62.5%}.col-xl-push-16{left:66.66667%}.col-xl-push-17{left:70.83333%}.col-xl-push-18{left:75%}.col-xl-push-19{left:79.16667%}.col-xl-push-20{left:83.33333%}.col-xl-push-21{left:87.5%}.col-xl-push-22{left:91.66667%}.col-xl-push-23{left:95.83333%}.col-xl-push-24{left:100%}.col-xl-offset-0{margin-left:0%}.col-xl-offset-1{margin-left:4.16667%}.col-xl-offset-2{margin-left:8.33333%}.col-xl-offset-3{margin-left:12.5%}.col-xl-offset-4{margin-left:16.66667%}.col-xl-offset-5{margin-left:20.83333%}.col-xl-offset-6{margin-left:25%}.col-xl-offset-7{margin-left:29.16667%}.col-xl-offset-8{margin-left:33.33333%}.col-xl-offset-9{margin-left:37.5%}.col-xl-offset-10{margin-left:41.66667%}.col-xl-offset-11{margin-left:45.83333%}.col-xl-offset-12{margin-left:50%}.col-xl-offset-13{margin-left:54.16667%}.col-xl-offset-14{margin-left:58.33333%}.col-xl-offset-15{margin-left:62.5%}.col-xl-offset-16{margin-left:66.66667%}.col-xl-offset-17{margin-left:70.83333%}.col-xl-offset-18{margin-left:75%}.col-xl-offset-19{margin-left:79.16667%}.col-xl-offset-20{margin-left:83.33333%}.col-xl-offset-21{margin-left:87.5%}.col-xl-offset-22{margin-left:91.66667%}.col-xl-offset-23{margin-left:95.83333%}.col-xl-offset-24{margin-left:100%}}fieldset{padding:0;margin:0;border:0;min-width:0}legend{display:block;width:100%;padding:0;border:0}label{display:inline-block;max-width:100%}input[type="search"]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}input[type="file"]{display:block}input[type="range"]{display:block;width:100%}select[multiple],select[size]{height:auto}input[type="file"]:focus,input[type="radio"]:focus,input[type="checkbox"]:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}output{display:block;padding-top:7px}.form-control{display:block;width:100%;background-image:none}textarea.form-control{height:auto}input[type="search"]{-webkit-appearance:none}input[type="date"],input[type="time"],input[type="datetime-local"],input[type="month"]{line-height:34px;line-height:1.42857 \0}.radio,.checkbox{position:relative;display:block}.radio label,.checkbox label{min-height:20px;margin-bottom:0;cursor:pointer}.radio.disabled label,fieldset[disabled] .radio label,.checkbox.disabled label,fieldset[disabled] .checkbox label{cursor:not-allowed}.help-block{display:block;margin-top:5px;margin-bottom:10px}@media(min-width:540px){.form-inline .form-group{display:inline-block;margin-bottom:0;vertical-align:middle}.form-inline .form-control{display:inline-block;width:auto;vertical-align:middle}.form-inline .input-group{display:inline-table;vertical-align:middle}.form-inline .input-group .input-group-addon,.form-inline .input-group .input-group-btn,.form-inline .input-group .form-control{width:auto}.form-inline .input-group>.form-control{width:100%}.form-inline .control-label{margin-bottom:0;vertical-align:middle}.form-inline .radio,.form-inline .checkbox{display:inline-block;margin-top:0;margin-bottom:0;vertical-align:middle}}input,button,textarea,select,option,progress{max-width:100%;line-height:inherit}input[type="color"],input[type="date"],input[type="datetime"],input[type="datetime-local"],input[type="email"],input[type="month"],input[type="number"],input[type="password"],input[type="search"],input[type="tel"],input[type="text"],input[type="time"],input[type="url"],input[type="week"],textarea{padding:4px 8px;border-style:solid;border-width:2px;border-color:rgba(0,0,0,.4);background-color:rgba(255,255,255,.4);height:32px;height:2rem}input[type="color"]:focus,input[type="date"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="email"]:focus,input[type="month"]:focus,input[type="number"]:focus,input[type="password"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="text"]:focus,input[type="time"]:focus,input[type="url"]:focus,input[type="week"]:focus,textarea:focus{border-color:#0067b8;background-color:#fff}input[type="color"]::-moz-placeholder,input[type="date"]::-moz-placeholder,input[type="datetime"]::-moz-placeholder,input[type="datetime-local"]::-moz-placeholder,input[type="email"]::-moz-placeholder,input[type="month"]::-moz-placeholder,input[type="number"]::-moz-placeholder,input[type="password"]::-moz-placeholder,input[type="search"]::-moz-placeholder,input[type="tel"]::-moz-placeholder,input[type="text"]::-moz-placeholder,input[type="time"]::-moz-placeholder,input[type="url"]::-moz-placeholder,input[type="week"]::-moz-placeholder,textarea::-moz-placeholder{color:rgba(0,0,0,.6);opacity:1}input[type="color"]:-ms-input-placeholder,input[type="date"]:-ms-input-placeholder,input[type="datetime"]:-ms-input-placeholder,input[type="datetime-local"]:-ms-input-placeholder,input[type="email"]:-ms-input-placeholder,input[type="month"]:-ms-input-placeholder,input[type="number"]:-ms-input-placeholder,input[type="password"]:-ms-input-placeholder,input[type="search"]:-ms-input-placeholder,input[type="tel"]:-ms-input-placeholder,input[type="text"]:-ms-input-placeholder,input[type="time"]:-ms-input-placeholder,input[type="url"]:-ms-input-placeholder,input[type="week"]:-ms-input-placeholder,textarea:-ms-input-placeholder{color:rgba(0,0,0,.6)}input[type="color"]::-webkit-input-placeholder,input[type="date"]::-webkit-input-placeholder,input[type="datetime"]::-webkit-input-placeholder,input[type="datetime-local"]::-webkit-input-placeholder,input[type="email"]::-webkit-input-placeholder,input[type="month"]::-webkit-input-placeholder,input[type="number"]::-webkit-input-placeholder,input[type="password"]::-webkit-input-placeholder,input[type="search"]::-webkit-input-placeholder,input[type="tel"]::-webkit-input-placeholder,input[type="text"]::-webkit-input-placeholder,input[type="time"]::-webkit-input-placeholder,input[type="url"]::-webkit-input-placeholder,input[type="week"]::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:rgba(0,0,0,.6)}input[type="color"][disabled],input[type="color"][readonly],fieldset[disabled] input[type="color"],input[type="date"][disabled],input[type="date"][readonly],fieldset[disabled] input[type="date"],input[type="datetime"][disabled],input[type="datetime"][readonly],fieldset[disabled] input[type="datetime"],input[type="datetime-local"][disabled],input[type="datetime-local"][readonly],fieldset[disabled] input[type="datetime-local"],input[type="email"][disabled],input[type="email"][readonly],fieldset[disabled] input[type="email"],input[type="month"][disabled],input[type="month"][readonly],fieldset[disabled] input[type="month"],input[type="number"][disabled],input[type="number"][readonly],fieldset[disabled] input[type="number"],input[type="password"][disabled],input[type="password"][readonly],fieldset[disabled] input[type="password"],input[type="search"][disabled],input[type="search"][readonly],fieldset[disabled] input[type="search"],input[type="tel"][disabled],input[type="tel"][readonly],fieldset[disabled] input[type="tel"],input[type="text"][disabled],input[type="text"][readonly],fieldset[disabled] input[type="text"],input[type="time"][disabled],input[type="time"][readonly],fieldset[disabled] input[type="time"],input[type="url"][disabled],input[type="url"][readonly],fieldset[disabled] input[type="url"],input[type="week"][disabled],input[type="week"][readonly],fieldset[disabled] input[type="week"],textarea[disabled],textarea[readonly],fieldset[disabled] textarea{border-color:#ccc!important;background-color:rgba(0,0,0,.2)!important;color:rgba(0,0,0,.2)!important}.form-group.has-error input[type="color"],input[type="color"].has-error,.form-group.has-error input[type="date"],input[type="date"].has-error,.form-group.has-error input[type="datetime"],input[type="datetime"].has-error,.form-group.has-error input[type="datetime-local"],input[type="datetime-local"].has-error,.form-group.has-error input[type="email"],input[type="email"].has-error,.form-group.has-error input[type="month"],input[type="month"].has-error,.form-group.has-error input[type="number"],input[type="number"].has-error,.form-group.has-error input[type="password"],input[type="password"].has-error,.form-group.has-error input[type="search"],input[type="search"].has-error,.form-group.has-error input[type="tel"],input[type="tel"].has-error,.form-group.has-error input[type="text"],input[type="text"].has-error,.form-group.has-error input[type="time"],input[type="time"].has-error,.form-group.has-error input[type="url"],input[type="url"].has-error,.form-group.has-error input[type="week"],input[type="week"].has-error,.form-group.has-error textarea,textarea.has-error{border-color:#e81123}textarea{height:auto}input::-ms-clear,input::-ms-reveal{height:100%;padding:4px 8px;margin-right:-8px;margin-left:4px;color:rgba(0,0,0,.6)}input::-ms-clear:hover,input::-ms-reveal:hover{color:#0067b8}input::-ms-clear:active,input::-ms-reveal:active{color:#fff;background-color:#0067b8}.form-group.has-error input::-ms-clear:hover,.form-group.has-error input::-ms-reveal:hover,input.has-error::-ms-clear:hover,input.has-error::-ms-reveal:hover{color:#e81123}.form-group.has-error input::-ms-clear:active,.form-group.has-error input::-ms-reveal:active,input.has-error::-ms-clear:active,input.has-error::-ms-reveal:active{color:#fff;background-color:#e81123}input[type="radio"]{width:20px;height:20px}input[type="radio"]::-ms-check{background-color:#fff;color:#000;border-style:solid;border-width:2px;border-color:rgba(0,0,0,.6)}input[type="radio"]:checked::-ms-check{color:#000;border-color:#0067b8}input[type="radio"]:hover::-ms-check{border-color:#000}input[type="radio"]:hover:checked::-ms-check{border-color:#0067b8}input[type="radio"]:active::-ms-check{color:rgba(0,0,0,.6);border-color:rgba(0,0,0,.6)}input[type="radio"]:active:checked::-ms-check{border-color:rgba(0,0,0,.6)}input[type="radio"][disabled]::-ms-check,fieldset[disabled] input[type="radio"]::-ms-check{background-color:#fff!important;color:rgba(0,0,0,.2)!important;border-color:rgba(0,0,0,.2)!important}input[type="radio"][disabled]:checked::-ms-check,fieldset[disabled] input[type="radio"]:checked::-ms-check{color:rgba(0,0,0,.2)!important}input[type="checkbox"]{width:20px;height:20px}input[type="checkbox"]::-ms-check{border-style:solid;border-width:2px;background-color:transparent;color:#000;border-color:rgba(0,0,0,.8)}input[type="checkbox"]:checked::-ms-check{background-color:#0067b8;border-color:#0067b8}input[type="checkbox"]:hover::-ms-check{border-color:#000}input[type="checkbox"]:active::-ms-check{background-color:rgba(0,0,0,.6);border-color:transparent}input[type="checkbox"][disabled]::-ms-check,fieldset[disabled] input[type="checkbox"]::-ms-check{border-color:rgba(0,0,0,.2)!important;background-color:transparent!important;color:rgba(0,0,0,.2)!important}progress{height:4px;border-style:none;color:#0067b8;background-color:#ccc;-webkit-appearance:none;display:block}progress::-ms-fill{color:#0067b8}progress::-webkit-progress-value{background-color:#0067b8}progress::-webkit-progress-bar{background-color:#ccc}progress::-moz-progress-bar{background-color:#0067b8}input[type="range"]{height:42px;padding-bottom:16px;padding-top:16px;border-style:none}input[type="range"]::-ms-track{height:2px;border-style:none;background-color:transparent;color:transparent}input[type="range"]::-ms-fill-lower{background-color:#0067b8}input[type="range"]::-ms-fill-upper{background-color:rgba(0,0,0,.4)}input[type="range"]::-ms-thumb{background-color:#0067b8;width:24px;height:8px;border-radius:4px;border-style:none}input[type="range"]:hover::-ms-thumb{background-color:#1f1f1f}input[type="range"]:active::-ms-thumb{background-color:#ccc}input[type="range"]:disabled::-ms-fill-lower,input[type="range"]:disabled::-ms-fill-upper{background-color:rgba(0,0,0,.2)!important}input[type="range"]:disabled::-ms-thumb{background-color:#ccc!important}legend{margin-bottom:12px}.form-group{margin-bottom:12px}.form-group label{margin-top:0;margin-bottom:8px}.radio,.checkbox{margin-top:12px;margin-bottom:12px}.radio label,.checkbox label{padding-left:28px}.radio input[type="radio"],.radio-inline input[type="radio"],.checkbox input[type="checkbox"],.checkbox-inline input[type="checkbox"]{position:absolute;margin-left:-28px}input[type="radio"][disabled],input[type="radio"].disabled,fieldset[disabled] input[type="radio"],input[type="checkbox"][disabled],input[type="checkbox"].disabled,fieldset[disabled] input[type="checkbox"]{cursor:not-allowed}input[type="radio"][disabled]+span,input[type="radio"].disabled+span,fieldset[disabled] input[type="radio"]+span,input[type="checkbox"][disabled]+span,input[type="checkbox"].disabled+span,fieldset[disabled] input[type="checkbox"]+span{color:rgba(0,0,0,.2)}select{border:2px solid rgba(0,0,0,.4);background-clip:padding-box;color:#000}select:focus{background-color:#3a96dd;outline:0}select:focus::-ms-value{background-color:#3a96dd;color:#000}select:focus option{background-color:#fff}select:hover{border-color:rgba(0,0,0,.6)}select:active{background-color:#fff}select option:focus{background-color:#3a96dd}select option:checked{background-color:#3a96dd;color:#000}select option:active{background-color:#767676;color:#000}select option:not(:checked):hover{background-color:#c5e1f7}select option:not(:checked):active{background-color:#767676;color:#000}select[multiple]:focus{background-color:#fff}select[disabled],select.disabled,fieldset[disabled] select{cursor:not-allowed;background-color:rgba(0,0,0,.2)!important;border-color:rgba(0,0,0,.2)!important;color:rgba(0,0,0,.6)!important}select[disabled] option:hover,select[disabled] option:focus,select[disabled] option:active,select.disabled option:hover,select.disabled option:focus,select.disabled option:active,fieldset[disabled] select option:hover,fieldset[disabled] select option:focus,fieldset[disabled] select option:active{background-color:transparent!important}::-ms-expand{margin:0 6px 0 20px;background-color:transparent;border:0}.btn-block{display:block;width:100%}.btn-block+.btn-block{margin-top:5px}input[type="submit"].btn-block,input[type="reset"].btn-block,input[type="button"].btn-block{width:100%}.btn,button,input[type="button"],input[type="submit"],input[type="reset"]{display:inline-block;min-width:100px;padding:4px 12px 4px 12px;margin-top:4px;margin-bottom:4px;position:relative;max-width:100%;text-align:center;white-space:nowrap;overflow:hidden;vertical-align:middle;text-overflow:ellipsis;touch-action:manipulation;color:#000;border-style:solid;border-width:2px;border-color:transparent;background-color:rgba(0,0,0,.2)}.btn:hover,.btn:focus,button:hover,button:focus,input[type="button"]:hover,input[type="button"]:focus,input[type="submit"]:hover,input[type="submit"]:focus,input[type="reset"]:hover,input[type="reset"]:focus{border-color:rgba(0,0,0,.4)}.btn:hover,button:hover,input[type="button"]:hover,input[type="submit"]:hover,input[type="reset"]:hover{cursor:pointer}.btn:active,button:active,input[type="button"]:active,input[type="submit"]:active,input[type="reset"]:active{background-color:rgba(0,0,0,.4);border-color:transparent}.btn.btn-primary,button.btn-primary,input[type="button"].btn-primary,input[type="submit"].btn-primary,input[type="reset"].btn-primary{background-color:#0067b8;border-color:#0067b8;color:#fff}.btn.btn-primary:hover,.btn.btn-primary:focus,button.btn-primary:hover,button.btn-primary:focus,input[type="button"].btn-primary:hover,input[type="button"].btn-primary:focus,input[type="submit"].btn-primary:hover,input[type="submit"].btn-primary:focus,input[type="reset"].btn-primary:hover,input[type="reset"].btn-primary:focus{border-color:#004e8c}.btn.btn-primary:active,button.btn-primary:active,input[type="button"].btn-primary:active,input[type="submit"].btn-primary:active,input[type="reset"].btn-primary:active{background-color:rgba(0,0,0,.4);border-color:transparent}.btn.disabled,.btn[disabled],fieldset[disabled] .btn,button.disabled,button[disabled],fieldset[disabled] button,input[type="button"].disabled,input[type="button"][disabled],fieldset[disabled] input[type="button"],input[type="submit"].disabled,input[type="submit"][disabled],fieldset[disabled] input[type="submit"],input[type="reset"].disabled,input[type="reset"][disabled],fieldset[disabled] input[type="reset"]{cursor:not-allowed;pointer-events:none;outline:none;color:rgba(0,0,0,.2)!important;border-color:transparent!important;background-color:rgba(0,0,0,.2)!important}a.btn:link,a.btn:visited{color:#000}a.btn.btn-primary:link,a.btn.btn-primary:visited{color:#fff}.person{border-radius:50%;display:block;padding:4px;border:1px dotted transparent}.person .person-graphic{display:block;background-size:cover;background-position:center center;background-repeat:no-repeat;border-radius:50%}.person.person-small{width:54px;height:54px}.person.person-small .person-graphic{width:44px;height:44px}.person.person-medium{width:110px;height:110px}.person.person-medium .person-graphic{width:100px;height:100px}.person.person-large{width:210px;height:210px}.person.person-large .person-graphic{width:200px;height:200px}.person:focus{outline-style:none;border-color:#000}table{background-color:transparent}th{text-align:left}.table{width:100%;max-width:100%}.table>thead>tr>th,.table>thead>tr>td,.table>tbody>tr>th,.table>tbody>tr>td,.table>tfoot>tr>th,.table>tfoot>tr>td{padding:16px;vertical-align:top}.table>thead>tr>th{vertical-align:bottom}.table>caption+thead>tr:first-child>th,.table>caption+thead>tr:first-child>td,.table>colgroup+thead>tr:first-child>th,.table>colgroup+thead>tr:first-child>td,.table>thead:first-child>tr:first-child>th,.table>thead:first-child>tr:first-child>td{border-top:0}table col[class*="col-"]{position:static;float:none;display:table-column}table td[class*="col-"],table th[class*="col-"]{position:static;float:none;display:table-cell}.table-responsive{overflow-x:auto;min-height:.01%}@media screen and (max-width:539px){.table-responsive{width:100%;margin-bottom:15px;overflow-y:hidden;-ms-overflow-style:-ms-autohiding-scrollbar}.table-responsive>.table{margin-bottom:0}.table-responsive>.table>thead>tr>th,.table-responsive>.table>thead>tr>td,.table-responsive>.table>tbody>tr>th,.table-responsive>.table>tbody>tr>td,.table-responsive>.table>tfoot>tr>th,.table-responsive>.table>tfoot>tr>td{white-space:nowrap}}.table>thead>tr>th{font-size:12px;line-height:14px;font-weight:400;font-size:.75rem;line-height:.875rem;padding-bottom:1.1816px;padding-top:1.1816px;padding-bottom:1.1816px;padding-top:1.1816px;padding:0 16px 10px 16px}.table>thead>tr>th.text-maxlines-1{white-space:nowrap;text-overflow:ellipsis;max-height:16.3632px;max-height:1.0227rem}.table>thead>tr>th.text-maxlines-2{max-height:30.3632px;max-height:1.8977rem}.table>thead>tr>th.text-maxlines-3{max-height:44.3632px;max-height:2.7727rem}.table>thead>tr>th.text-maxlines-4{max-height:58.3632px;max-height:3.6477rem}.table>tbody>tr:nth-child(odd){background-color:#f2f2f2}.section{margin-top:30px;margin-bottom:30px}@media(min-width:320px){.section{margin-top:42px;margin-bottom:42px}}.section .section-header{padding-bottom:10px;border-bottom:1px solid #e6e6e6;margin-bottom:16px}@media(min-width:320px){.section .section-header{margin-bottom:32px}}.section .section-title{display:block;margin-top:0;margin-bottom:0;font-size:15px;line-height:20px;font-weight:600;font-size:.9375rem;line-height:1.25rem;padding-bottom:.227px;padding-top:.227px;padding-bottom:.227px;padding-top:.227px;color:#000}.section .section-title.text-maxlines-1{white-space:nowrap;text-overflow:ellipsis;max-height:20.454px;max-height:1.27838rem}.section .section-title.text-maxlines-2{max-height:40.454px;max-height:2.52838rem}.section .section-title.text-maxlines-3{max-height:60.454px;max-height:3.77838rem}.section .section-title.text-maxlines-4{max-height:80.454px;max-height:5.02838rem}@media(min-width:320px){.section .section-title{font-size:24px;line-height:28px;font-weight:300;font-size:1.5rem;line-height:1.75rem;padding-bottom:2.3632px;padding-top:2.3632px;padding-bottom:2.3632px;padding-top:2.3632px}.section .section-title.text-maxlines-1{white-space:nowrap;text-overflow:ellipsis;max-height:32.7264px;max-height:2.0454rem}.section .section-title.text-maxlines-2{max-height:60.7264px;max-height:3.7954rem}.section .section-title.text-maxlines-3{max-height:88.7264px;max-height:5.5454rem}.section .section-title.text-maxlines-4{max-height:116.7264px;max-height:7.2954rem}}.section .section-subtitle{display:block;font-size:15px;line-height:20px;font-weight:400;font-size:.9375rem;line-height:1.25rem;padding-bottom:.227px;padding-top:.227px;padding-bottom:.227px;padding-top:.227px;color:#767676}.section .section-subtitle.text-maxlines-1{white-space:nowrap;text-overflow:ellipsis;max-height:20.454px;max-height:1.27838rem}.section .section-subtitle.text-maxlines-2{max-height:40.454px;max-height:2.52838rem}.section .section-subtitle.text-maxlines-3{max-height:60.454px;max-height:3.77838rem}.section .section-subtitle.text-maxlines-4{max-height:80.454px;max-height:5.02838rem}.section .header-action{display:table-cell;vertical-align:bottom;white-space:nowrap;font-size:12px;line-height:14px;font-weight:400;font-size:.75rem;line-height:.875rem;padding-bottom:1.1816px;padding-top:1.1816px;padding-bottom:1.1816px;padding-top:1.1816px}.section .header-action.text-maxlines-1{white-space:nowrap;text-overflow:ellipsis;max-height:16.3632px;max-height:1.0227rem}.section .header-action.text-maxlines-2{max-height:30.3632px;max-height:1.8977rem}.section .header-action.text-maxlines-3{max-height:44.3632px;max-height:2.7727rem}.section .header-action.text-maxlines-4{max-height:58.3632px;max-height:3.6477rem}.section p{margin-top:12px;margin-bottom:12px}.section p .more-container{display:block;margin-top:6px}.section .btn-group{margin-top:20px;margin-bottom:20px}.section.remove-header-rule>.section-header{border-style:none}.section.has-header-action .header-titles{display:table-cell}.section.has-header-action .titles-outer{display:table;table-layout:fixed;width:100%}.section.has-header-action .titles-inner{display:table-cell;padding-right:10px}.section.item-section{margin-bottom:32px}.section.item-section .section-header{margin-bottom:16px;border-style:none;padding-bottom:0}.section.item-section .section-title{color:#000;font-size:15px;line-height:20px;font-weight:600;font-size:.9375rem;line-height:1.25rem;padding-bottom:.227px;padding-top:.227px;padding-bottom:.227px;padding-top:.227px}.section.item-section .section-title.text-maxlines-1{white-space:nowrap;text-overflow:ellipsis;max-height:20.454px;max-height:1.27838rem}.section.item-section .section-title.text-maxlines-2{max-height:40.454px;max-height:2.52838rem}.section.item-section .section-title.text-maxlines-3{max-height:60.454px;max-height:3.77838rem}.section.item-section .section-title.text-maxlines-4{max-height:80.454px;max-height:5.02838rem}.caret{display:inline-block;width:0;height:0;margin-left:2px;vertical-align:middle;border-top:4px solid;border-right:4px solid transparent;border-left:4px solid transparent}.dropdown{position:relative}.dropdown-toggle:focus{outline:0}.dropdown-menu{position:absolute;top:100%;left:0;z-index:1000;display:none;float:left;min-width:160px;padding:5px 0;margin:2px 0 0;list-style:none;font-size:14px;text-align:left;background-color:#fff;border:1px solid #ccc;border:1px solid rgba(0,0,0,.15);border-radius:4px;-webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);box-shadow:0 6px 12px rgba(0,0,0,.175);background-clip:padding-box}.dropdown-menu.pull-right{right:0;left:auto}.dropdown-menu .divider{height:1px;margin:9px 0;overflow:hidden;background-color:#e5e5e5}.dropdown-menu>li>a{display:block;padding:3px 20px;clear:both;font-weight:normal;line-height:1.42857;color:#333;white-space:nowrap}.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus{text-decoration:none;color:#262626;background-color:#f5f5f5}.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus{color:#fff;text-decoration:none;outline:0;background-color:#428bca}.dropdown-menu>.disabled>a,.dropdown-menu>.disabled>a:hover,.dropdown-menu>.disabled>a:focus{color:#777}.dropdown-menu>.disabled>a:hover,.dropdown-menu>.disabled>a:focus{text-decoration:none;background-color:transparent;background-image:none;filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);cursor:not-allowed}.open>.dropdown-menu{display:block}.open>a{outline:0}.dropdown-menu-right{left:auto;right:0}.dropdown-menu-left{left:0;right:auto}.dropdown-header{display:block;padding:3px 20px;font-size:12px;line-height:1.42857;color:#777;white-space:nowrap}.dropdown-backdrop{position:fixed;left:0;right:0;bottom:0;top:0;z-index:990}.pull-right>.dropdown-menu{right:0;left:auto}.dropup .caret,.navbar-fixed-bottom .dropdown .caret{border-top:0;border-bottom:4px solid;content:""}.dropup .dropdown-menu,.navbar-fixed-bottom .dropdown .dropdown-menu{top:auto;bottom:100%;margin-bottom:1px}@media(min-width:768px){.navbar-right .dropdown-menu{right:0;left:auto}.navbar-right .dropdown-menu-left{left:0;right:auto}}[data-toggle="buttons"]>.btn input[type="radio"],[data-toggle="buttons"]>.btn input[type="checkbox"],[data-toggle="buttons"]>.btn-group>.btn input[type="radio"],[data-toggle="buttons"]>.btn-group>.btn input[type="checkbox"]{position:absolute;clip:rect(0,0,0,0);pointer-events:none}.btn-group:before,.btn-group:after{content:" ";display:table}.btn-group:after{clear:both}.btn-group .btn{float:left;margin-right:4px}.input-group{position:relative;display:table;border-collapse:separate}.input-group[class*="col-"]{float:none;padding-left:0;padding-right:0}.input-group .form-control{position:relative;z-index:2;float:left;width:100%;margin-bottom:0}.input-group-addon,.input-group-btn,.input-group .form-control{display:table-cell}.input-group-addon:not(:first-child):not(:last-child),.input-group-btn:not(:first-child):not(:last-child),.input-group .form-control:not(:first-child):not(:last-child){border-radius:0}.input-group-addon,.input-group-btn{width:1%;white-space:nowrap;vertical-align:middle}.input-group-addon{padding:6px 12px;font-size:14px;font-weight:normal;line-height:1;color:#555;text-align:center;background-color:#eee;border:1px solid #ccc;border-radius:4px}.input-group-addon.input-sm,.input-group-sm>.input-group-addon,.input-group-sm>.input-group-btn>.input-group-addon.btn{padding:5px 10px;font-size:12px;border-radius:3px}.input-group-addon.input-lg,.input-group-lg>.input-group-addon,.input-group-lg>.input-group-btn>.input-group-addon.btn{padding:10px 16px;font-size:18px;border-radius:6px}.input-group-addon input[type="radio"],.input-group-addon input[type="checkbox"]{margin-top:0}.input-group .form-control:first-child,.input-group-addon:first-child,.input-group-btn:first-child>.btn,.input-group-btn:first-child>.btn-group>.btn,.input-group-btn:first-child>.dropdown-toggle,.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle),.input-group-btn:last-child>.btn-group:not(:last-child)>.btn{border-bottom-right-radius:0;border-top-right-radius:0}.input-group-addon:first-child{border-right:0}.input-group .form-control:last-child,.input-group-addon:last-child,.input-group-btn:last-child>.btn,.input-group-btn:last-child>.btn-group>.btn,.input-group-btn:last-child>.dropdown-toggle,.input-group-btn:first-child>.btn:not(:first-child),.input-group-btn:first-child>.btn-group:not(:first-child)>.btn{border-bottom-left-radius:0;border-top-left-radius:0}.input-group-addon:last-child{border-left:0}.input-group-btn{position:relative;font-size:0;white-space:nowrap}.input-group-btn>.btn{position:relative}.input-group-btn>.btn+.btn{margin-left:-1px}.input-group-btn>.btn:hover,.input-group-btn>.btn:focus,.input-group-btn>.btn:active{z-index:2}.input-group-btn:first-child>.btn,.input-group-btn:first-child>.btn-group{margin-right:-1px}.input-group-btn:last-child>.btn,.input-group-btn:last-child>.btn-group{margin-left:-1px}.alert{margin-bottom:8px;margin-top:8px}.alert-error{color:#e81123}.modal-open{overflow:hidden}.modal{display:none;overflow:hidden;position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;-webkit-overflow-scrolling:touch;outline:0}.modal-open .modal{overflow-x:hidden;overflow-y:auto}.modal-dialog{position:relative;width:auto}.modal-content{position:relative;background-color:#fff;background-clip:padding-box;outline:0}.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;background-color:#000}.modal-backdrop.fade{opacity:0;filter:alpha(opacity=0)}.modal-backdrop.in{opacity:.5;filter:alpha(opacity=50)}.modal-header{min-height:16.42857px}.modal-title{margin:0;line-height:1.42857}.modal-body{position:relative}.modal-footer:before,.modal-footer:after{content:" ";display:table}.modal-footer:after{clear:both}.modal-scrollbar-measure{position:absolute;top:-9999px;width:50px;height:50px;overflow:scroll}@media(min-width:540px){.modal-dialog{width:600px}.modal-sm{width:300px}}@media(min-width:768px){.modal-lg{width:900px}}.modal .modal-dialog{margin:50vh auto;-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);-o-transform:translate(0,-50%);transform:translate(0,-50%);border:2px solid #0067b8}.modal .modal-content{padding:16px}.modal p:first-child{margin-top:0}.modal .btn{width:calc(50% - 2px)}.modal .btn:last-child{margin-right:0}.modal .btn:only-child{float:right}.modal .modal-footer{margin-top:24px}.tooltip{position:absolute;z-index:1070;display:block;visibility:visible}.tooltip-inner{text-decoration:none}.tooltip .tooltip-inner{background:#f2f2f2;color:#000;border:1px solid #ccc;padding:5px 8px 7px 8px;max-width:320px}.clearfix:before,.clearfix:after{content:" ";display:table}.clearfix:after{clear:both}.center-block{display:block;margin-left:auto;margin-right:auto}.hide{display:none!important}.show{display:block!important}.invisible{visibility:hidden}.text-hide{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}.hidden{display:none!important;visibility:hidden!important}.affix{position:fixed}.pull-right{float:right!important}.pull-left{float:left!important}@-ms-viewport{width:device-width;}@media(max-width:539px){.visible-xs{display:block!important}table.visible-xs{display:table}tr.visible-xs{display:table-row!important}th.visible-xs,td.visible-xs{display:table-cell!important}}@media(max-width:539px){.visible-xs-block{display:block!important}}@media(max-width:539px){.visible-xs-inline{display:inline!important}}@media(max-width:539px){.visible-xs-inline-block{display:inline-block!important}}@media(min-width:540px) and (max-width:767px){.visible-sm{display:block!important}table.visible-sm{display:table}tr.visible-sm{display:table-row!important}th.visible-sm,td.visible-sm{display:table-cell!important}}@media(min-width:540px) and (max-width:767px){.visible-sm-block{display:block!important}}@media(min-width:540px) and (max-width:767px){.visible-sm-inline{display:inline!important}}@media(min-width:540px) and (max-width:767px){.visible-sm-inline-block{display:inline-block!important}}@media(min-width:768px) and (max-width:991px){.visible-md{display:block!important}table.visible-md{display:table}tr.visible-md{display:table-row!important}th.visible-md,td.visible-md{display:table-cell!important}}@media(min-width:768px) and (max-width:991px){.visible-md-block{display:block!important}}@media(min-width:768px) and (max-width:991px){.visible-md-inline{display:inline!important}}@media(min-width:768px) and (max-width:991px){.visible-md-inline-block{display:inline-block!important}}@media(min-width:992px){.visible-lg{display:block!important}table.visible-lg{display:table}tr.visible-lg{display:table-row!important}th.visible-lg,td.visible-lg{display:table-cell!important}}@media(min-width:992px){.visible-lg-block{display:block!important}}@media(min-width:992px){.visible-lg-inline{display:inline!important}}@media(min-width:992px){.visible-lg-inline-block{display:inline-block!important}}@media(max-width:539px){.hidden-xs{display:none!important}}@media(min-width:540px) and (max-width:767px){.hidden-sm{display:none!important}}@media(min-width:768px) and (max-width:991px){.hidden-md{display:none!important}}@media(min-width:992px){.hidden-lg{display:none!important}}.visible-print{display:none!important}@media print{.visible-print{display:block!important}table.visible-print{display:table}tr.visible-print{display:table-row!important}th.visible-print,td.visible-print{display:table-cell!important}}.visible-print-block{display:none!important}@media print{.visible-print-block{display:block!important}}.visible-print-inline{display:none!important}@media print{.visible-print-inline{display:inline!important}}.visible-print-inline-block{display:none!important}@media print{.visible-print-inline-block{display:inline-block!important}}@media print{.hidden-print{display:none!important}}.visible-xs,.visible-sm,.visible-md,.visible-lg,.visible-xl{display:none!important}.visible-xs-block,.visible-xs-inline,.visible-xs-inline-block,.visible-sm-block,.visible-sm-inline,.visible-sm-inline-block,.visible-md-block,.visible-md-inline,.visible-md-inline-block,.visible-lg-block,.visible-lg-inline,.visible-lg-inline-block,.visible-xl-block,.visible-xl-inline,.visible-xl-inline-block{display:none!important}@media(min-width:1400px){.visible-xl{display:block!important}table.visible-xl{display:table}tr.visible-xl{display:table-row!important}th.visible-xl,td.visible-xl{display:table-cell!important}}@media(min-width:1400px){.visible-xl-block{display:block!important}}@media(min-width:1400px){.visible-xl-inline{display:inline!important}}@media(min-width:1400px){.visible-xl-inline-block{display:inline-block!important}}@media(min-width:1400px){.hidden-xl{display:none!important}}@font-face{font-family:"Segoe UI Webfont";font-weight:300;src:local("Segoe UI Semilight")}@font-face{font-family:"Segoe UI Webfont";font-weight:700;src:local("Segoe UI Bold")}@font-face{font-family:"Segoe UI Webfont";font-style:italic;font-weight:400;src:local("Segoe UI Italic")}@font-face{font-family:"Segoe UI Webfont";font-style:italic;font-weight:700;src:local("Segoe UI Bold Italic")}.container,.container-fluid{width:100%}.IE_M9 select,.IE_M9 select option:checked{background-color:#fff!important}.IE_M8 select{background-color:#fff!important}body.IE_M7.rtl{font-family:"Segoe UI","Ebrima","Nirmala UI","Gadugi","Segoe Xbox Symbol","Segoe UI Symbol","Meiryo UI","Khmer UI","Tunga","Lao UI","Raavi","Iskoola Pota","Latha","Leelawadee","Microsoft YaHei UI","Microsoft JhengHei UI","Malgun Gothic","Estrangelo Edessa","Microsoft Himalaya","Microsoft New Tai Lue","Microsoft PhagsPa","Microsoft Tai Le","Microsoft Yi Baiti","Mongolian Baiti","MV Boli","Myanmar Text","Cambria Math"}.IE_M7 ul{margin-left:0}.IE_M7 input[type="button"],.IE_M7 input[type="submit"],.IE_M7 button,.IE_M7 input[type="button"].btn,.IE_M7 input[type="submit"].btn,.IE_M7 button.btn{line-height:142%;overflow:visible}.IE_M7 div.input-group{float:left;z-index:5000}.IE_M7 div.input-group button,.IE_M7 div.input-group button.btn{overflow:hidden}.IE_M7 div.input-group label.input-group-addon{width:auto;float:left}.IE_M7 div.input-group div.input-group-btn{float:left}.text-caption{margin:.5rem 0 .5rem 0;margin:8px 0 8px 0}select{padding-top:3px;padding-bottom:3px;padding-left:6px}.section{margin-top:0}.section .section-header{margin-bottom:0}.section .section-title{font-size:1.25rem}body{direction:ltr}body #maincontent,body .pageSectionContainer,body #c_content{margin:0 auto}body #maincontent{width:90%;min-height:400px}.ltr_override,.dirltr{direction:ltr}.Notification,.c_inmiddle_area{max-width:1180px}.c_inmiddle_area{margin-bottom:20px}.input-max-width{max-width:640px}label.label-margin{margin-top:0;margin-bottom:8px}label.input-group-addon{border-width:2px;background-color:transparent;border-color:rgba(0,0,0,.4)}label.disabled{border:0;background-color:rgba(0,0,0,.2)!important}label.input-group-addon.focus-border-color{border-color:#0067b8}label.focus-border-color.input-group-addon.has-error,label.input-group-addon.has-error{border-color:#e81123}button.dropdown-toggle{margin-top:0;margin-bottom:0;height:32px;border-color:rgba(0,0,0,.4);border-left-width:0;min-width:0}.noRightBorder{border-right:0!important}.noLeftBorder{border-left:0!important}.bold{font-weight:600}.modal-header h4.UserTitle,.wrap-content{word-wrap:break-word}label.placeholder{display:none!important}input[type=radio].inlineRadio{margin:0}.recoveryCancelPrintLink{margin-left:15px}.recoveryCancelPadBelow{margin-bottom:20px;margin-bottom:1.25rem}.recoveryCancelProofText{color:rgba(0,0,0,.6)}.apppassword{font-size:120%}.ImeDisabled{ime-mode:inactive}.email-input-max-width{max-width:390px}.Hide{display:none}.hideHipErrorImage{display:none!important}.consetManageServiceLeft{margin-top:6px;float:left}.consetManageServiceRight{float:left;width:280px;margin-left:20px}.consentManageServiceImg{width:40px}.consetOfferActions{list-style-type:none;width:540px;margin:0;padding:0}.consentOfferActionLeft{float:left;padding-right:15px}.consetOfferActionRight{float:left;width:480px}span.linkSeparator{padding-left:4px;padding-right:4px}.padded{padding-top:9px;padding-bottom:9px}.toppadded{padding-top:9px}.consentWebTitleIcon{margin-top:6px}.leftmargin{margin-left:9px}.text-secondary{color:rgba(0,0,0,.7);font-size:13px}.agreement-layout{white-space:pre-wrap;word-wrap:break-word;overflow-x:hidden}body.cb{text-align:center}body.cb #ftrLogo{margin:0}body.cb #maincontent{max-width:384px;padding-left:12px;padding-right:12px}body.cb a{text-decoration:none}body.cb .text-13{font-size:.8125rem}body.cb .radio,body.cb .alert-error{text-align:left}body.cb div.placeholderContainer{width:100%;position:relative}body.cb div.placeholder{color:#666;background-color:transparent;margin-top:6px;margin-left:9px;white-space:nowrap;text-align:left}body.cb div.placeholder.ltr_override{margin-left:11px;margin-right:auto;text-align:left}body.cb .modalDialogOverlay{position:fixed;top:0;left:0;width:100%;height:100%;background-color:#000;opacity:.5;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter:alpha(opacity=50);z-index:50000}body.cb .modalDialogContainer{position:fixed;top:60px;max-width:356px;width:83%;width:calc(90% - 28px);max-height:80%;max-height:calc(100% - 80px);margin-left:-2px;margin-right:-2px;border:1px solid #0067b8;background-color:#fff;z-index:50001;overflow:auto;overflow-x:hidden}body.cb .modalDialogPadding{padding:11px 12px 12px 12px}body.cb .msa-helpCell{margin-bottom:24px;position:relative}body.cb .msa-helpSVG{float:left;position:absolute}body.cb .msa-helpCellDiv{overflow:hidden;margin-left:44px}body.cb #learnMoreLink,body.cb #signup,body.cb #idA_MSAccLearnMore{white-space:nowrap}body.cb .modalDialogContent{width:100%;position:relative;margin:0 auto}body.cb .img-centipede{width:100%;max-width:266px;height:auto}body.cb .align-center{margin-left:auto;margin-right:auto;display:inline-block}body.cb #icdHIP table{width:100%!important}body.cb input.hip{width:100%!important;padding:4px 8px!important;margin-top:12px!important}body.cb tr#wlspispHIPErrorContainer>td{width:100%!important}body.cb .hip-erroricon{display:none!important}.no-margin-top{margin-top:0}.no-margin-bottom{margin-bottom:0}.no-padding-left-right{padding-left:0;padding-right:0}.display-block{display:block}.display-inline-block{display:inline-block;white-space:nowrap}@media(max-width:319px){body.cb #ftr{margin-top:60px}}@media(min-height:800px){body.cb #ftr{margin-top:60px}}@media(max-height:400px){body.cb .modalDialogContainer{top:0;max-height:100%}}.progress.spinnerText{margin:0;margin-left:20px;position:relative}.progressCommon{position:relative;animation:rotate .8s infinite linear;border:4px solid #0067b8;border-right-color:#fff;border-radius:50%}.progress.spinner{float:left;margin-top:3px;height:16px;width:16px;position:relative;animation:rotate .8s infinite linear;border:4px solid #0067b8;border-right-color:#fff;border-radius:50%}.progress.spinnerLarge{margin:auto;height:100px;width:100px;position:relative;animation:rotate .8s infinite linear;border:4px solid #0067b8;border-right-color:#fff;border-radius:50%}@-webkit-keyframes rotate{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}@-moz-keyframes rotate{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}@-ms-keyframes rotate{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}@-o-keyframes rotate{0%{transform:rotate(0deg);}100%{transform:rotate(360deg);}}@keyframes rotate{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}.progress>div{position:absolute;height:3px;width:3px;background-color:#696969;z-index:100}.row.tile:focus .progress>div,.row.tile:focus:hover .progress>div,.row.tile:active .progress>div{background-color:#fff}.progress>div{-webkit-animation:progressDot 2.5s ease-in 0s infinite;-moz-animation:progressDot 2.5s ease-in 0s infinite;-o-animation:progressDot 2.5s ease-in 0s infinite;animation:progressDot 2.5s ease-in 0s infinite}.progress>div:nth-child(2){-webkit-animation-delay:.1s;-moz-animation-delay:.1s;-o-animation-delay:.1s;animation-delay:.1s}.progress>div:nth-child(3){-webkit-animation-delay:.2s;-moz-animation-delay:.2s;-o-animation-delay:.2s;animation-delay:.2s}.progress>div:nth-child(4){-webkit-animation-delay:.3s;-moz-animation-delay:.3s;-o-animation-delay:.3s;animation-delay:.3s}.progress>div:nth-child(5){-webkit-animation-delay:.4s;-moz-animation-delay:.4s;-o-animation-delay:.4s;animation-delay:.4s}.progress>div:nth-child(6){-webkit-animation-delay:.5s;-moz-animation-delay:.5s;-o-animation-delay:.5s;animation-delay:.5s}@-webkit-keyframes progressDot{from{left:0%;-webkit-animation-timing-function:ease-in}40%{left:33%}70%{left:33%;-webkit-animation-timing-function:ease-out}to{left:100%}}@-moz-keyframes progressDot{from{left:0%;-moz-animation-timing-function:ease-in}40%{left:33%}70%{left:33%;-moz-animation-timing-function:ease-out}to{left:100%}}@-o-keyframes progressDot{from{left:0%;-o-animation-timing-function:ease-in;}40%{left:33%;}70%{left:33%;-o-animation-timing-function:ease-out;}to{left:100%;}}@keyframes progressDot{from{left:0%;animation-timing-function:ease-in}40%{left:33%}70%{left:33%;animation-timing-function:ease-out}to{left:100%}}@keyframes pulse{from{opacity:.4}}@-o-keyframes pulse{from{opacity:.4;}}@-moz-keyframes pulse{from{opacity:.4}}@-webkit-keyframes pulse{from{opacity:.4}}@keyframes fadeIn{from{opacity:0}to{opacity:1}}@-o-keyframes fadeIn{from{opacity:0;}to{opacity:1;}}@-moz-keyframes fadeIn{from{opacity:0}to{opacity:1}}@-webkit-keyframes fadeIn{from{opacity:0}to{opacity:1}}div.links a{margin-left:16px;margin-right:16px}div.links a.first{padding-left:0}body.cb{color:#262626;text-align:left}.fadeIn{-webkit-animation:fadeIn 1s;-moz-animation:fadeIn 1s;-o-animation:fadeIn 1s;animation:fadeIn 1s}.backgroundImage{-webkit-animation:fadeIn 1s;-moz-animation:fadeIn 1s;-o-animation:fadeIn 1s;animation:fadeIn 1s}.background-logo{max-width:256px;max-height:24px;margin-bottom:24px;display:block;margin-left:auto;margin-right:auto;-webkit-animation:fadeIn 1s;-moz-animation:fadeIn 1s;-o-animation:fadeIn 1s;animation:fadeIn 1s}.background-logo.large{max-height:36px}.background{background:#f2f2f2}.background,.background>div{position:fixed;top:0;width:100%;height:100%}.background>div{background-repeat:no-repeat,no-repeat;background-position:center center,center center;background-size:cover,cover}.blur{filter:url("data:image/svg+xml;utf9,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'><filter%20id='blur'><feGaussianBlur%20stdDeviation='70'%20/></filter></svg>#blur");filter:blur(70px);-webkit-filter:blur(70px);-ms-filter:blur(70px);filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='70')}.background-overlay{background:rgba(0,0,0,.55);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#8C000000',endColorstr='#8C000000');width:100%;height:100%}#footer{position:fixed;bottom:0;width:100%;overflow:visible;z-index:99;clear:both;background-color:rgba(0,0,0,.6);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endColorstr='#99000000')}.outer{display:table;position:absolute;height:100%;width:100%}.middle{display:table-cell;vertical-align:middle}.inner{margin-left:auto;margin-right:auto;min-height:364px;min-width:320px;max-width:440px;width:calc(100% - 40px);padding:36px;margin-bottom:28px;background-color:#fff;-webkit-box-shadow:0 2px 3px rgba(0,0,0,.55);-moz-box-shadow:0 2px 3px rgba(0,0,0,.55);box-shadow:0 2px 3px rgba(0,0,0,.55);border:1px solid #818c94;border:1px solid rgba(0,0,0,.4)}.wide{max-width:640px}pre{font-family:inherit}input[type="color"],input[type="date"],input[type="datetime"],input[type="datetime-local"],input[type="email"],input[type="month"],input[type="number"],input[type="password"],input[type="search"],input[type="tel"],input[type="text"],input[type="time"],input[type="url"],input[type="week"],textarea,select{padding:6px 10px;border-width:1px;border-color:#666;border-color:rgba(0,0,0,.6);height:36px;outline:none}input[type="color"]:hover,input[type="date"]:hover,input[type="datetime"]:hover,input[type="datetime-local"]:hover,input[type="email"]:hover,input[type="month"]:hover,input[type="number"]:hover,input[type="password"]:hover,input[type="search"]:hover,input[type="tel"]:hover,input[type="text"]:hover,input[type="time"]:hover,input[type="url"]:hover,input[type="week"]:hover,textarea:hover,select:hover{border-color:#323232;border-color:rgba(0,0,0,.8)}input[type="color"]:focus,input[type="date"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="email"]:focus,input[type="month"]:focus,input[type="number"]:focus,input[type="password"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="text"]:focus,input[type="time"]:focus,input[type="url"]:focus,input[type="week"]:focus,textarea:focus,select:focus{border-color:#0067b8}input[type="color"]:focus.has-error,input[type="date"]:focus.has-error,input[type="datetime"]:focus.has-error,input[type="datetime-local"]:focus.has-error,input[type="email"]:focus.has-error,input[type="month"]:focus.has-error,input[type="number"]:focus.has-error,input[type="password"]:focus.has-error,input[type="search"]:focus.has-error,input[type="tel"]:focus.has-error,input[type="text"]:focus.has-error,input[type="time"]:focus.has-error,input[type="url"]:focus.has-error,input[type="week"]:focus.has-error,textarea:focus.has-error,select:focus.has-error{border-color:#e81123}body.cb div.placeholder{margin-top:8px;margin-left:11px}.btn,button,input[type='button'],input[type='submit'],input[type='reset']{height:36px;border-width:1px;background-color:#ccc;background-color:rgba(0,0,0,.2)}.btn:hover,button:hover,input[type="button"]:hover,input[type="submit"]:hover,input[type="reset"]:hover{border:none;background-color:#b2b2b2;background-color:rgba(0,0,0,.3)}.btn:focus,button:focus,input[type="button"]:focus,input[type="submit"]:focus,input[type="reset"]:focus{background-color:#b2b2b2;background-color:rgba(0,0,0,.3)}.btn.btn-primary,button.btn-primary,input[type="button"].btn-primary,input[type="submit"].btn-primary,input[type="reset"].btn-primary{border-color:#0067b8;background-color:#0067b8}.btn.btn-primary:hover,button.btn-primary:hover,input[type="button"].btn-primary:hover,input[type="submit"].btn-primary:hover,input[type="reset"].btn-primary:hover,.btn.btn-primary:focus,button.btn-primary:focus,input[type="button"].btn-primary:focus,input[type="submit"].btn-primary:focus,input[type="reset"].btn-primary:focus{background-color:#005da6}.btn:focus,button:focus,input[type="button"]:focus,input[type="submit"]:focus,input[type="reset"]:focus,.btn.btn-primary:focus,button.btn-primary:focus,input[type="button"].btn-primary:focus,input[type="submit"].btn-primary:focus,input[type="reset"].btn-primary:focus{border:none;text-decoration:underline;outline:2px solid #000}.btn:active,button:active,input[type="button"]:active,input[type="submit"]:active,input[type="reset"]:active,.btn.btn-primary:active,button.btn-primary:active,input[type="button"].btn-primary:active,input[type="submit"].btn-primary:active,input[type="reset"].btn-primary:active{outline:none;text-decoration:none;-ms-transform:scale(.98);-webkit-transform:scale(.98);transform:scale(.98)}.theme-dark .btn,.theme-light .btn,.theme-dark button,.theme-light button,.theme-dark input[type='button'],.theme-light input[type='button'],.theme-dark input[type='submit'],.theme-light input[type='submit'],.theme-dark input[type='reset'],.theme-light input[type='reset']{outline:1px dashed #000}.theme-dark .btn:hover,.theme-light .btn:hover,.theme-dark button:hover,.theme-light button:hover,.theme-dark input[type="button"]:hover,.theme-light input[type="button"]:hover,.theme-dark input[type="submit"]:hover,.theme-light input[type="submit"]:hover,.theme-dark input[type="reset"]:hover,.theme-light input[type="reset"]:hover{border:1px solid #000}.theme-dark .btn:focus,.theme-light .btn:focus,.theme-dark button:focus,.theme-light button:focus,.theme-dark input[type="button"]:focus,.theme-light input[type="button"]:focus,.theme-dark input[type="submit"]:focus,.theme-light input[type="submit"]:focus,.theme-dark input[type="reset"]:focus,.theme-light input[type="reset"]:focus,.theme-dark .btn.btn-primary:focus,.theme-light .btn.btn-primary:focus,.theme-dark button.btn-primary:focus,.theme-light button.btn-primary:focus,.theme-dark input[type="button"].btn-primary:focus,.theme-light input[type="button"].btn-primary:focus,.theme-dark input[type="submit"].btn-primary:focus,.theme-light input[type="submit"].btn-primary:focus,.theme-dark input[type="reset"].btn-primary:focus,.theme-light input[type="reset"].btn-primary:focus{outline:1px solid #000}.theme-dark .btn:active,.theme-light .btn:active,.theme-dark button:active,.theme-light button:active,.theme-dark input[type="button"]:active,.theme-light input[type="button"]:active,.theme-dark input[type="submit"]:active,.theme-light input[type="submit"]:active,.theme-dark input[type="reset"]:active,.theme-light input[type="reset"]:active,.theme-dark .btn.btn-primary:active,.theme-light .btn.btn-primary:active,.theme-dark button.btn-primary:active,.theme-light button.btn-primary:active,.theme-dark input[type="button"].btn-primary:active,.theme-light input[type="button"].btn-primary:active,.theme-dark input[type="submit"].btn-primary:active,.theme-light input[type="submit"].btn-primary:active,.theme-dark input[type="reset"].btn-primary:active,.theme-light input[type="reset"].btn-primary:active{text-decoration:none;outline:1px dashed #000}.logo{max-width:256px;height:24px}.identityBanner{height:28px;background:#f2f2f2;margin:16px -36px;padding:0 36px}.identity{line-height:28px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;text-align:right;width:calc(100% - 56px)}.profile-photo{height:48px;width:48px;margin-top:-48px;border-radius:50%;overflow:hidden;float:right}.profile-photo>img{width:100%}.boilerplate-text{background-color:#f2f2f2;padding:24px 36px 36px 36px;margin:24px -36px -36px -36px}.tile-container{position:relative}.table{width:100%;display:table;table-layout:fixed}.table .table-row{display:table-row}.table .table-cell{display:table-cell;vertical-align:middle}.row.tile{margin-bottom:0;padding:12px 0;cursor:pointer;outline:none;color:inherit;display:block}.row.tile .content{line-height:16px;padding-left:24px}.row.tile .content>*{word-wrap:break-word}.row.tile:focus{outline:#000 dashed 1px;background:none}.row.tile:hover{background-color:#e6e6e6;background-color:rgba(0,0,0,.1);color:inherit}.row.tile:active{background-color:#b3b3b3;background-color:rgba(0,0,0,.3);color:inherit}.row.tile .table-cell:first-child{padding:0 12px}.row.tile .table-cell:first-child+.table-cell{width:100%}.tile-img{width:48px;height:48px}.tile-img.small{width:24px;height:24px;float:left;margin-right:8px}.progress-container{width:100%;position:relative;margin-top:48px;margin-bottom:24px}.progress-container-tile{width:100%;position:relative;top:3px}.progress{position:absolute;bottom:0;height:6px;width:97%;width:calc(100% - 3px)}.animate-pulse{-webkit-animation:pulse 1s infinite alternate;-moz-animation:pulse 1s infinite alternate;-o-animation:pulse 1s infinite alternate;animation:pulse 1s infinite alternate}div.footerNode{margin:0;float:right}div.footerNode a,div.footerNode span{color:#fff;font-size:12px;line-height:28px;white-space:nowrap;display:inline-block;margin-left:16px;margin-right:16px}.text-title,h3,.text-body,p{padding:0;margin-top:16px;margin-bottom:16px}.form-group{margin-bottom:16px}.form-group label{margin-top:0;margin-bottom:0}.btn,button,input[type='button'],input[type='submit'],input[type='reset']{margin-top:0;margin-bottom:0}.col-xs-12.secondary{padding-right:4px}.col-xs-12.primary{padding-left:4px}.no-margin-bottom{margin-bottom:0}.no-margin-top-bottom{margin-top:0;margin-bottom:0}.overflow-hidden{overflow:hidden}.menu-dots{position:absolute;padding:0 5px;right:0;top:2px}.menu-dots:focus{outline:#000 dashed 1px;background:none}.menu{position:absolute;background-color:#fff;border:1px solid #e6e6e6;border:1px solid rgba(0,0,0,.1);background-clip:padding-box;z-index:2;top:0;right:10px;width:160px}.menu li{margin:0}.menu li a{display:block;padding:11px 12px 13px;background-color:#f2f2f2;background-color:rgba(0,0,0,.05);outline:none;color:inherit;cursor:pointer}.menu li a:focus{outline:#000 dashed 1px;background-color:#e6e6e6;background-color:rgba(0,0,0,.1)}.menu li a:hover{background-color:#e6e6e6;background-color:rgba(0,0,0,.1)}.menu li a:active{background-color:#b3b3b3;background-color:rgba(0,0,0,.3)}.moveOffScreen{position:fixed;bottom:0;right:0;height:0!important;width:0!important;overflow:hidden;opacity:0;filter:alpha(opacity=0)}.largePadding{padding:40px}.displaySign{text-align:center;font-size:2.5rem;padding:40px}.banner-logo{max-height:36px}.optin-banner{position:fixed;bottom:40px;right:12px;color:#262626;background-color:#fff;padding:24px;font-size:13px;width:380px;z-index:100;-webkit-box-shadow:0 2px 3px rgba(0,0,0,.55);-moz-box-shadow:0 2px 3px rgba(0,0,0,.55);box-shadow:0 2px 3px rgba(0,0,0,.55)}.optin-banner .table-cell:first-child{width:100%}.no-outline{outline:none}@media(max-width:600px),(max-height:392px){.background,.background>div{display:none}.background.app,.background.app>div{display:inherit}.background-logo{margin-top:24px}.middle{vertical-align:top}.inner{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;border:0;width:100%}.inner.app{-webkit-box-shadow:0 2px 3px rgba(0,0,0,.55);-moz-box-shadow:0 2px 3px rgba(0,0,0,.55);box-shadow:0 2px 3px rgba(0,0,0,.55);border:1px solid #818c94;border:1px solid rgba(0,0,0,.4)}.wide{max-width:412px}#footer{background:#fff}div.footerNode{float:left}div.footerNode a,div.footerNode span{color:#777}.boilerplate-text{padding:16px;margin:24px 0 0 0}.optin-banner{position:fixed;width:100%;top:auto;bottom:0;left:0;right:0;background-color:#f2f2f2;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}}